.logo-box{
	text-align: center;
	margin-top: 100px;
}

.sign-box{
	font-size:20px;
	text-align: center;
	margin-top: 50px;
	/*background: blue;*/
	height:15px;
	border-bottom: 1px solid #eee;
}

.sign-box a:hover{
	text-decoration: none;
}
.sign-box .sign-box-inner{
	background: #fff;
	width: 200px;
	margin:0 auto;
}

.sign-form{
	max-width: 300px;
	margin: 50px auto;
}
.glyphicon{
	top: 0;
}