/*
* @Author: xiaotuo
* @Date:   2016-11-21 21:13:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-11-21 21:13:20
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: baseline;
}
.all_artical{
	text-align: center;
}
.other_category{
	text-align: center;
}

